@tailwind base;
@tailwind components;
@tailwind utilities;

/* .app-container {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 20px;
  }
  
  h1 {
    color: #4CAF50;
  }
  
  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
  } */